body {
  margin: 0;
  padding: 20px;
  font-size: 18px;
}
.quiz {
  padding: 0 30px 20px 30px;
  max-width: 960px;
  margin: 0 auto;
}
.quiz ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.quiz-question {
  font-weight: bold;
  display: block;
  padding: 30px 0 10px 0;
  margin: 0;
}
.quiz-answer {
  margin: 0;
  padding: 10px;
  background: #f7f7f7;
  margin-bottom: 5px;
  cursor: pointer;
}
.quiz-answer:hover {
  background: #e6ffff
}
.quiz-answer:before {
  content: "";
  display: inline-block;
  width: 15px;
  height: 15px;
  border: 1px solid #ccc;
  background: #fff;
  vertical-align: middle;
  margin-right: 10px;
}
.quiz-answer.active:before {
  background-color: tomato;
  border-color: tomato;
}
.quiz-answer.correct:before {
  background-color: springgreen;
  border-color: springgreen;
}
.quiz-answer.incorrect:before {
  background-color: tomato;
  border-color: tomato;
}
.quiz-answer.active.correct:before {
  outline-offset: 2px;
  content: '✓';
  line-height: 0.8;
}
.quiz-answer.active.incorrect:before {
  outline: 2px solid tomato;
  outline-offset: 2px;
}
.quiz-result {
  max-width: 960px;
  margin: 0 auto;
  font-weight: bold;
  text-align: center;
  color: #fff;
  padding: 20px;
}
.quiz-result.good {
  background: springgreen;
}
.quiz-result.mid {
  background: orange;
}
.quiz-result.bad {
  background: tomato;
}
